.contentDetail {
  background-color: black;
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 23rem;
  max-height: 100vh;
}

.left {
  position: absolute;
  top: 0px;
  left: 10px;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.titleDetail {
  position: relative;
  top: 20%;
  color: aliceblue;
  font-size: 3rem;
}

.overviewDetail {
  position: relative;
  top: 100px;
  color: beige;
  font-size: 1rem;
}

.right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.posterImage {
  height: 300px;
  margin: 10px;
  width: auto;
}
.postDetail {
  background-color: black;
}

.sm.top {
  height: 300px;
  position: relative;
  top: 0px;
}
.sm.bottom {
  height: auto;
  position: relative;
  top: 0px;
}
@media screen and (min-width: 501px) {
  .detail {
    position: relative;
    top: 60px;
  }
  .footer {
    top: 60px;
  }
  .contentDetail .sm {
    display: none;
  }
  img.sm.posterImage {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .contentDetail .md {
    display: none;
  }
  .contentDetail {
    width: 100vw;
    min-height: min-content;
    max-height: max-content;
    position: relative;
    top: 0px;
    left: 0;
    padding: 0 10px;
  }
  .sm.titleDetail {
    position: relative;
    top: 0;
    padding: 10px;
    font-size: 2rem;
  }
  .sm.overviewDetail {
    top: auto;
    padding: 10px;
  }
  .sm.posterImage {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
  }
  .postDetail {
    position: relative;
    top: 0px;
  }
  .footer {
    top: 40px;
  }
  img.md.posterImage {
    display: none;
  }
}
@media only screen and (max-width: 350px) {
  .contentDetail .md {
    display: none;
  }
  .contentDetail {
    top: 70px;
    left: 0;
    padding: 0 10px;
  }
  .postDetail {
    position: relative;
    top: 70px;
  }
  .footer {
    top: 70px;
  }
  img.md.posterImage {
    display: none;
  }

  img.sm.posterImage {
    height: 300px;
    margin: 0;
  }
}
